/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

#shcc_about {
  margin: 60px 0 30px 0;
  font-size: 65px;
}

#facilitator_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 1.5em;
}
.facilitator {
  display: block;
  position: relative;
  width: 380px;
  height: 400px;
  text-align: center;
}

.facilitator-img {
  width: 300px;
  height: 400px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.facilitator-row {
  margin: 50px;
  display: inline-flex;
  justify-content: space-between;
  justify-self: center;
  width: 100%;
}

h3 {
  margin: 20px 20px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  size-adjust: 120%;
  font-size: x-large;
  color: #242424;
}

p {
  margin: 0px 20px 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-title {
  margin: 1.3em 0 0.7em 15%;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-style: italic;
  color: #242424;
  display: block;
  font-size: xxx-large;
}

.description {
  margin: 0 15% 40px 15%;
  min-width: 600px;
  text-align: center;
  font-size: larger;
}
#about-us-title {
  margin: 0 15% 40px 15%;
  min-width: 600px;
  text-align: center;
}

#txt-section {
  margin: 0 40px 0 40px;
  font-size: large;
}

#txt-section li {
  margin: 5px 30px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  min-width: 200px;
}

.mission {
  display: flex;
  margin: 0 15% 0 15%;
}

#sideImg {
  height: 200px;
  align-self: center;
  margin: 0;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

#footer_spacer {
  margin-top: 100px;
}

@media (max-width: 1300px) {
  #facilitator_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .facilitator-img {
    width: 150px;
    height: 200px;
    align-self: center;
    margin: 0;
  }
  h2 {
    margin: 0;
  }
  .facilitator-row {
    align-items: center;
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
  }
  .description {
    margin: 0 10% 40px 10%;
    min-width: 600px;
    text-align: center;
    font-size: medium;
  }
}
