/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

* {
  box-sizing: border-box;
}

/* main page title */
.library-title {
  margin: 0.5em auto;
  height: max-content;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

#library-inventory {
  width: 100%;
  display: block;
}

.library-book {
  padding: 0 .3em;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.library-book img {
  height: 9em;
}

.library-book-title {
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
  text-align: center;
  width: 8em;
}

.library-book-author {
  text-align: center;
  color: #5e5c64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-small;
}

.library-row {
  width: 100%;
  margin: 3em 1em;
  display: block;
}

.letter-break {
  font-family: "Bebas Neue", san9A978Es-serif;
  padding: .2em;
  color: white;
  background: #1e9c9c;
  page-break-after: always;
  text-align: center;
}

.search-container {
  margin: 0.5em;
}

.search-container input[type=text] {
  padding: 6px;
  font-size: 1.3em;
  border: 3px solid black;
}

.search-container button {
  border: 3px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 6px;
  background: #fdd401;
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 9px;
  text-align: center;
  font-family: "Bebas Neue", san9A978Es-serif;
}

.search-container button:hover {
  color: white;
  background: #dd1810;
  transition: all 0.3s ease;
}

/* TODO */
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
