/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/
a {
  text-decoration: none;
}

.library-book-table {
  text-align: center;
  min-width: 1000px;
  margin: 0 auto;
}

/* main page title */
.library-title {
  margin: 0.5em auto;
  height: max-content;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

/* this is terribly named. It is for all the bits that will link you to the book pg. */
.select-book {
  margin: 1em 3em;
}
.library-book {
  padding: 0 0.3em;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 8em;
}

.book-page-description {
  display: block;
  min-width: 20em;
  width: 65%;
  text-align: center;
  margin: 0.5em auto;
}

.library-book img {
  width: auto;
  height: 100%;
  margin: 0;
}
.cover-wrapper {
  width: 8em;
}

.library-book-title {
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
  text-align: center;
  width: 8em;
}

td {
  text-align: center;
}
.library-book-author {
  text-align: center;
  color: #0a0a0f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

.library-row {
 /* margin: 0 3%; */
  padding: 1em;

  display: block;
  min-width: 950px;
}

.letter-break {
  font-family: "Bebas Neue", san9A978Es-serif;
  padding: 0.2em;
  margin: 0.5em 0;
  color: white;
  background: #1e9c9c;
  page-break-after: always;
  text-align: center;
  min-width: 1000px;
}

/* Individual book pg */

#book-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 0.6em dashed black;
  min-width: 20em;
  width: 65%;
  margin: 1em auto;
  background: #79eaea;
  border-radius: 2em;
}

.rental-info {
  margin: 1em 0;
  font-family: "Bebas Neue", san9A978Es-serif;
}
.field {
  display: block;
  margin: 3px 0;
}
.book-page-title {
  font-style: normal;
}
.book-page-author {
  text-align: center;
  margin: 0;
  font-family: Cursive;
}

.book-page img {
  display: block;
  height: 15em;
  margin: 1em auto 0;
}

.book-radio {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.form-btn {
  text-align: center;
  border-radius: 0.8em;
  width: 100%;
  border: 3px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1em;
  background-color: #fdd401;
  font-family: "Bebas Neue", san9A978Es-serif;
  margin: 0 1em;
}

.form-btn:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

.side-by-side {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 1em;
}
/* search container */
.search-container {
  margin: 0.5em;
}

.search-container input[type="text"] {
  padding: 6px;
  font-size: 1.3em;
  border: 3px solid black;
}

.search-container button {
  border: 3px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 6px;
  background: #fdd401;
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 9px;
  min-width: 3em;
  text-align: center;
  font-family: "Bebas Neue", san9A978Es-serif;
}

.search-container button:hover {
  color: white;
  background: #dd1810;
  transition: all 0.3s ease;
}

.noscript {
  display: block;
}

.footer__container {
  min-width: 1000px;
}

/* TODO
@media only screen and (max-width: 700px) {
  #library-inventory {
    width: 1200px;
  }
}
*/
