/* main page title */
.library-title {
  margin: 0.5em auto;
  height: max-content;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

#library-inventory {
  width: 100%;
  display: block;
}
.library-book {
  padding: 0 .3em;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.library-book img {
  height: 9em;
}
.library-book-title {
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
  text-align: center;
  width: 8em;
}

.library-book-author {
  text-align: center;
  color: #5e5c64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:xx-small;
}

.library-row {
    width: 100%;
    margin: 3em 1em;
    display: block;
}

.letter-break {
  font-family: "Bebas Neue", san9A978Es-serif;
  padding: .2em;
  color: white;
  background: #1e9c9c;
  page-break-after: always;
  text-align: center;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}
