/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
}

#quadrant {
  display: block;
}
.promo {
  position: relative;
}

.promo a {
  text-decoration: none;
  color: darkgray;
  font-family: monospace;
}
/* start navbar styling */
.navbar {
  background: #1e9c9c;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Bebas Neue", san9A978Es-serif;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar__container {
  background: #1e9c9c;
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar__logo {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 5rem;
  margin: 5px;
  height: 4rem;
}

.chess_icon {
  margin-right: 0.5rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
  font-size: xx-large;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  box-shadow: inset 5em 5em #fdd401;
  color: #000;
  transition-duration: 10ms;
}

#navbar__links_current {
  box-shadow: inset 5em 5em #fdd401;
  color: #000;
}

.navbar__links:hover h2 {
  color: #000000;
}
/* END navbar css */

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fdd401;
  color: #fff;
}

.button:hover {
  background: #dd1810;
  transition: all 0.3s ease;
}

/* Main Content CSS */
.main {
    display: block;
}

.main__background {
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
}

.main__title {
  font-size: 3rem;
  margin: 0 .8rem;
  color: white;
  text-align: right;
  display: block;
  padding-top: 1em;
  font-style: italic;
  font-weight: bold;
  font-family: "Noto Serif Display", serif;
  float: right;
}

#main__img {
  height: 13rem;
  border-radius: 0;
  margin-top: 1rem;
  margin-left: 6rem;
}

/* Footer CSS */
.footer__container {
  background-color: #1e9c9c;
  padding: 5rem 0;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.footer__logo {
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer__link--items > h2 {
  color: white;
}

.footer__link--items a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-family: "Bebas Neue", san9A978Es-serif;
}

.footer__link--items a:hover {
  color: black;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
/* footer css end*/

/* Social styling start */
.social__icon--link {
  color: #fdd401;
  font-size: 34px;
  margin-right: 5px;
  align-items: end;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
/*end social styling */

/* link styling */
a {
  position: relative;
}

#mission-text {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

/* A legacy we are not proud of */
img {
  margin: 5px;
  height: 4rem;
}
/* a new hope */
.SHCC_logo {
  margin: 5px;
  height: 4rem;
}

.heading {
  font-family: "Bebas Neue", san9A978Es-serif;
  font-weight: bold;
  text-align: center;
  color: #242424;
  align-self: center;
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.title {
  margin: 0.5em auto;
  height: 5em;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

/* What we play for section */
.where-we-play {
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", Times, serif;
}
.where-we-play h3 {
  font-style: italic;
  color: #242424;
  font-size: x-large;
}
.where-we-play ul {
    text-align: left;
    text-decoration: none;
    list-style-type: square;
}

/* service bubble styling start*/
.service-bubble-container {
  display: block;
  margin: auto;
}
.services__bubble {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.services__bubbles {
  display: flex;
  align-self: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5rem;
}

.services__bubble img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* height: 200px with 5 bubles */
  height: 15rem;
  align-self: center;
  align-items: center;
}

.services__bubble h2 {
  color: #242424;
  text-align: center;
  margin-top: 9px;
}

.services__bubble a {
  text-decoration: underline;
}

.bubble-text {
  color: #242424;
  text-align: center;
  margin-top: 9px;
  font-family: "Bebas Neue", san9A978Es-serif;
}

/*end service bubble styling */
.stuff-we-offer {
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
  font-size: x-large;
  text-align: center;
  margin-top: 0.5em;
}

/*start of hr */
.hr {
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
  min-width: 500px;
}

.hr img {
  position: relative;
  top: -33px;
  background: white;
  padding: 0 5px;
  min-block-size: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.hr hr {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: transparent;
  border-top: 3px dotted #000;
  border-bottom: none;
}
/*end of hr*/

/* start calendar n facebook embed */
#calendarAndPuzzle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 75px;
}

#calendarAndPuzzle h2 {
  text-align: center;
}

.styled-calendar-container {
  border: none;
  block-size: fit-content;
  width: 400px;
  min-height: 475px;
  justify-self: center;
  margin: auto;
}

.facebook-container {
  block-size: fit-content;
  justify-self: center;
  min-width: 400px;
  margin: auto;
  text-align: center;
}
/* end calendar n facebook embed */

/* tweak's for use on a smaller screen */
@media screen and (max-width: 1400px) {
  #calendarAndPuzzle {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .styled-calendar-container {
    width: 350px;
    min-height: 475px;
    margin: auto;
  }

  .main__title {
      font-size: 2.5rem;
  }
  .stuff-we-offer {
    background-color: white;
    color: #242424;
    font-family: "Bebas Neue", san9A978Es-serif;
    margin-top: 2rem;
  }
  .title {
    display: flex;
    margin: auto auto 50px auto;
    height: 50px;
    font-family: "Bebas Neue", san9A978Es-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 150%;
    color: #242424;
    font-size: 4vw;
    align-self: center;
  }

  .services__bubbles {
    display: flex;
    align-items: baseline;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    height: 1800px;
  }

  .footer__link--wrapper {
    display: flex;
    flex-direction: column;
  }

  .hr {
    text-align: center;
    width: 100%;
    position: relative;
  }

  .services__bubble img {
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;

    margin-top: 50px;
    height: 350px;
    align-self: center;
    align-items: center;
    color: #000000;
  }

  .navbar__item {
      font-size: large;
  }

}
@media screen and (max-width: 1200px) {
  .main__title {
      font-size: 2rem;
  }
  #main__img {
    height: 8rem;
  }
  .navbar__item {
      font-size: large;
  }
}
@media screen and (max-width: 900px) {
  .main__title {
      font-size: 1.5rem;
  }
  #main__img {
    height: 6rem;
  }
}
/* end of tweaks */
