/*
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top {
  position: absolute;
  left: 0px;
  top: 0px;
}
button {
  cursor: pointer;
}

h4 {
  text-align: center;
  border-radius: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #242424;
}
/* join-tournament-insert CSS */
#join-tournament-insert {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 2em 4em;
  padding: 1em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
}

#scc-tournament-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 2em 4em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.tournament-title {
  padding: 0.5em;
}

.scc-info {
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 14, 0.1);
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 2em;
  border: 3px solid black;
  min-width: 28em;
  flex-grow: 96%;
  padding: 1em;
}

.scc-info:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

.left-aligned {
  text-align: left;
  margin: 1em 3em;
}

label {
  display: inline-block;
  border-spacing: 0;
  font-size: 1.3em;
  font-family: sans-serif;
}

.field-lbl {
  min-width: 7em;
}

input[type="text"],
select {
  align-self: center;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  cursor: pointer;
  text-align: center;
  padding: 1em;
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 2em;
  border: 3px solid black;
  width: 80%;
}

input[type="submit"]:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

/* Table CSS */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 1.3em;
  font-family: sans-serif;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr,
th {
  text-align: center;
}

.tournaments-btn {
  text-align: center;
  border-radius: 2em;
  border: 3px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2em;
  margin: 2em 8em;
  min-width: 28em;

  background-color: #fdd401;
  flex-grow: 96%;
  font-family: "Bebas Neue", san9A978Es-serif;
}

.tournaments-btn:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

.tournaments-table {
  width: 75%;
}
.tournaments-column {
  padding: 1em 0.5em;
}
.round-time-table {
  min-width: 400px;
}
.round-time-table thead tr {
  background-color: #1e9c9c;
  color: #ffffff;
  text-align: center;
}
.round-time-table th,
.round-time-table td {
  padding: 12px 1em;
  text-align: center;
}
.round-time-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.round-time-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.round-time-table tbody tr:last-of-type {
  border-bottom: 2px solid #1e9c9c;
}

.tournaments-table thead tr {
  background-color: #1e9c9c;
  color: #ffffff;
  text-align: center;
}

.tournaments-table th,
.tournaments-table td {
  padding: 0.6em 1em;
  text-align: center;
}

.tournaments-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tournaments-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tournaments-table tbody tr:last-of-type {
  border-bottom: 2px solid #1e9c9c;
}

.organizer {
  text-align: center;
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
}

/* Insert CSS */
.tournament-insert {
  position: sticky;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 2em 4em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
}
.tournament-insert h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tournament-insert button {
  padding: 0.5em;
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  border: 3px solid black;
}
