/*
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/
* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
/* bare specifiers */
tr,
th {
  text-align: center;
}
button {
  cursor: pointer;
}

label {
  display: inline-block;
  border-spacing: 0;
  font-size: 1.3em;
  font-family: 'Noto Serif Georgian Variable', serif;
}
input[type="text"],
select {
  align-self: center;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  cursor: pointer;
  text-align: center;
  padding: 1em;
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 2em;
  border: 3px solid black;
  width: 80%;
}

input[type="submit"]:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}


.navbar {
    min-width: 1000px;
}
#top {
  position: absolute;
  left: 0px;
  top: 0px;
}


.page-heading {
  text-align: center;
  border-radius: 2em;
  font-family: 'Noto Serif Georgian Variable', serif;
  color: #242424;
}

.tournament-date {
    text-align: left;
  font-family: 'Noto Serif Georgian Variable', serif;
}
#tournament-title {
    margin-top: 1em;
}
.tournament-title {
  font-family: "Bebas Neue", san9A978Es-serif;
}
/* join-tournament-insert CSS */
#join-tournament-insert {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 2em 4em;
  padding: 1em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
}

#scc-tournament-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 2em 4em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.tournament-title {
  padding: 0.5em;
}

.scc-info {
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 14, 0.1);
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 2em;
  border: 3px solid black;
  min-width: 28em;
  flex-grow: 96%;
  padding: 1em;
}

.scc-info:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

.left-aligned {
  text-align: left;
  margin: 1em 3em;
}


.field-lbl {
  min-width: 7em;
  font-family: 'Noto Serif Georgian Variable', serif;
}

/* Big Tournament Table CSS */
.tournaments-table thead tr {
  background-color: #1e9c9c;
  color: #ffffff;
  text-align: center;
}

.tournaments-table th,
.tournaments-table td {
  text-align: center;
}

.tournaments-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tournaments-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tournaments-table tbody tr:last-of-type {
  border-bottom: 2px solid #1e9c9c;
}

.organizer {
  text-align: center;
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
}
.tournaments-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 25px auto;
  padding: 1rem;
  font-size: 2em;
  font-family: 'Noto Serif Georgian Variable', serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 75%;
}

.table-heading {
    margin: 1rem;
}


.round-times-table {
  background-color: f3f3f3;
  border: black 5px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  font-size: .5rem;
  text-align: center;
}

.tournaments-btn {
  text-align: center;
  border-radius: 2rem;
  border: 2px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 2rem;
  margin: 2rem 3rem;
  min-width: 28rem;
  font-size: 1.6rem;
  background-color: #fdd401;
  flex-grow: 96%;
  font-family: "Bebas Neue", san9A978Es-serif;
}

.tournaments-btn:hover {
  background: #dd1810;
  color: white;
  transition: all 0.3s ease;
}

/* small round time table */
.tournament-info-doc {
    height: 31rem;
    border: none;
    margin: auto;
    width: 45rem;
    text-align: center;
}
.round-time-table tr {
  border-radius: 2rem;
  border: 3px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}
.round-time-table th,
.round-time-table td {
  border: 3px solid black;
  border-collapse: ;
  font-size: x-small;
  padding: 2px 1em;
  text-align: center;
  width: fit-content;
}

.round-time-table tr th {
  background-color: #363739
}
.round-time-table td {
  background-color: #f3f3f3;
}


/* Insert CSS */

#join-tournament {
    height: 1em;
}
.tournament-insert {
  position: sticky;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 2em 4em;
  border: 3px dashed #1e9c9c;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  min-width: 800px;
}
.tournament-insert h3 {
  text-align: center;
  font-family: 'Noto Serif Georgian Variable', serif;
}

.tournament-insert button {
  padding: 0.5em;
  margin: 2em 8em;
  font-family: "Bebas Neue", san9A978Es-serif;
  background-color: #fdd401;
  border: 3px solid black;
}

@media screen and (max-width: 1400px) {

  .tournament-info-doc {
      height: 85rem;
  }
}
