:root {
	--club-name: "sask chess club";
}

h1 {
	color: #076A21;
}

h2 {
	color: #4C4E52;
}

h3 {
	color: #FDD401;	
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Bebas Neue', sans-serif;
}

.navbar {
	background: #DD1810;
	height: 80px;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar__container {
	display: flex;
	justify-content: left;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0;
	padding: 0 30px;
}

#navbar__logo {
	background-color: ff87177;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb101 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-declaration: none;
	font-size: 2rem;
}

.navbar__links {
	font-size: 3rem;
	padding: 50px;

}
.navbar__menu {
	font-size: 3rem;
	padding: 50px;
}
