/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

*{
  margin: 0;
}


.title {
  display: block;
  margin: 0 auto 100px auto;
  height: 50px;
  width: 700px;
  font-family: 'Bebas Neue', san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

.sub-title{
  margin: 0 20px 20px 15%;
  font-family: 'Bebas Neue', san9A978Es-serif;
  font-style: italic;
  color: #242424;
  display: block;
}

.facilitator {
  margin: 20px 20px 20px;
  display: inline-block;
  position: relative;
  align-self: start;
  min-width: 400px;
}

.facilitator p {
  margin: 0;
}

.facilitator-img {
  width: 300px;
  height: auto;
}

.facilitator-row{
  margin-left: 10%;
}

h2 {
  /* top | right | bottom | left */
  margin:30px 20px 20px 0px;
}

h3 {
  margin: 20px 20px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  size-adjust: 120%;
  color: #242424;

}

p {
  margin: 0px 20px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description{
  margin: 0 15% 40px 15%;
}

#txt-section{
  margin: 0 40px 0 40px;
}
#txt-section li{
  margin: 5px 30px 0px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mission {
  display: flex;
  margin: 0 15% 0 15%;
}

#sideImg {
  height: 200px;
  align-self: center;
  margin: 0 5px 0 60px;
}

#footer_spacer{
  margin-top: 60px;
}