/*
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>. 
*/
* {
  margin: 0;
  padding: 0;
}

.body {
  color: #FFFF;
}

.main-cal{
  position: relative;
  height: 660px;
  flex-basis: 900px;
  flex-shrink: 0;
  display: flex;
  justify-content: center
}

.main-cal iframe{
  border: none;
  width: 90%;
  height: 100%;
  margin: 0 20px 0 20px;
}

h1 {
  margin: 20px 20px 0px;
  font-family: 'Bebas Neue', san9A978Es-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 300%;
  color: #242424;
}

#main_calendar{
  align-self: middle;
  border: none;
  align-self: center;
}