/*
  Made by nicolas Vaagen for SK Horizon Chess Club

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
*/


.split-page {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  text-align: left;
  font-family: 'Bebas Neue', san9A978Es-serif;
}

.split-page-column {
  flex: 50%;
  display: block;
}

.icon-txt {
  display: inline;
}

.discord-link{
  font: 1em sans-serif;
}
img {
  margin: 0;
  display: inline;
}
h1{
  margin-left: 0px;
}

#icons{
  align-items: block;
}

/* start of forum styling */
#contact-form {
  color: #242424;
}

#contact_form{
  padding: 10px;
  border: none;
  margin-right: 120px;
}
#name_input{
  padding: 5px;
  margin: 2px;
}
#email_addr{
  padding: 5px;
  margin: 2px; 
}

#message{
  align-self: center;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
#message-title{
  display: block;
  text-align: center;
}

#send{
  width: 100%;
}

form {
  margin-left: 25%;
  font-family: 'Bebas Neue', san9A978Es-serif;
}

form button {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  outline: none;
  border-radius: 4px;
  background: #FDD401;
  color: black;
  margin-top: 3px;
}
form button:hover{
  background: #DD1810;
  transition: all 0.3s ease;
}
/* end form */