/*
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>. 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}


body {
	background-color: #9A978E;
  height:100%;

}

h1 {
	color: #076A21;
	text-align: center;
}

h2 {
	color: #FDD401;
	text-align: center;
}

h3 {
	color: #DD1810;
	text-align: center;
}

body{
	text-align: center;
  align-items: middle;
	
}

.button:hover {
  background: #DD1810;
  transition: all 0.3s ease;
}

.button {
  width: 100%;
  max-width: 30px;
  text-align: center;
}