/*
    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>. 
*/
* {
  margin: 0;
  padding: 0;
}

.body {
  color: #ffff;
}

.tournaments-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tournaments-table thead tr {
  background-color: #1e9c9c;
  color: #ffffff;
  text-align: left;
}

.tournaments-table th,
.tournaments-table td {
  padding: 12px 15px;
}

.tournaments-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tournaments-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tournaments-table tbody tr:last-of-type {
  border-bottom: 2px solid #1e9c9c;
}

.organizer {
  text-align: center;
  color: #242424;
  font-family: "Bebas Neue", san9A978Es-serif;
}
